apiVersion: v1
kind: Secret
metadata:
  name: thriftapp-secrets
type: Opaque
stringData:
  MONGO_URL: "mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?appName=<AppName>"
  SECRET_KEY: "your-secret-key-here"
  HARDCODED_OTP: "1234"
